.progress{ position: relative; }
.percent{ position: absolute; left: 50%; top: 0; color: #121212;}

@media (max-width: 767px){
  .btn-group{ padding: 0; margin-top: 30px;}
}

#parentDiv {
    /* display: flex; */
    background-color: #fafafa;
}

#middle-container {
    margin-right: 3rem;
    margin-left: 3rem;
}


#myBar {
    background-color: #afdc6f;
    width: 100px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;

  }

#pb1 {
    background-color: #afdc6f;
}

#pb2 {
    background-color: #fe9b88;
}

#pb3 {
    background-color: #fefefe;
}

#pb4 {
    background-color: #8fccf5;
}

#pb5 {
    background-color: #ffd05f;
}